//Global Color
$primary-color: #fca311;
$secondary-color: #001219;
$text-color: black;
$text-white: white;


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body{
    font-family: "Rubik", sans-serif;
}

h1{
    font-size: 4.5em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}

p{
    font-size: 1.2em;
}
.btn-primary{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    padding:15px 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 15px;
    &:hover{
        background-color: $secondary-color;
        border: 1px solid $primary-color
    }
}
    .btn-secondary{
    background-color: $secondary-color;
    border: 1px solid $primary-color;
    padding:15px 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 15px;
    &:hover{
        background-color: $primary-color;
        border: 1px solid $primary-color
    }
}



header{
    nav{
        .nav-link{
            font-size: 1em;
            color: $text-color;
            font-weight: 500;
            margin-left: 20px;
            text-transform: uppercase;
        }

        .logo{
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;
            span{
                color: $primary-color;
            }
        }
    }
}

.section-1{
    .hero{
        background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0)), url('../images/hero.jpg');
        min-height: 800px;
        color: $text-white;

        span{
            color: $primary-color;
            font-size: 1.5em;
            font-weight: 500;
        }
    }    
}


.section-2{
    
}